@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root{
    --color-primary: #f6592e;
    --color-secondary: #eb3229;
    --color-grey-primary: #1f2229;
    --color-grey-secondary: #2d3037;
    --color-border: #3c3c3c;
    --color-white: #fff;
}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    min-height: 100vh;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: var(--color-primary);
    background: linear-gradient(to right top, var(--color-grey-primary), var(--color-grey-secondary));
    background-repeat: no-repeat;
}
.heading,
.questionBox,
.content,
.search,
.search__input,
.search__results,
.result,
.result__content,
.option{
    padding: 1rem;
}
.heading,
.question,
.box{
    cursor: pointer;
}
.heading{
    margin: 1rem auto;
    color: var(--color-primary);
}
.container,
.result__content,
.search__input{
    width: 100%;
}
.container,
.select__label{
    padding: 2rem;
}
.container{
    height: 100%;
    text-align: center;
}
.wrapper{
    width: 70%;
    margin: 0 auto;
}
.questions,
.result__content a{
    border-radius: .5rem;
}
.questions{
    background: var(--color-primary);
}
.questionBox{
    text-align: left;
}
.dropdown{
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--color-grey-secondary);
    vertical-align: middle;
}
.dropdown,
.content{
    margin: 0 .5rem;
}
.colors,
.question{
    padding: .5rem;
}
.question{
    font-weight: 500;
    color: var(--color-grey-secondary);
}
.questionBox:not(:last-child){
    border-bottom: 1px solid #fd653a;
}
.content{
    display: none;
}
.question.active + .content{
    display: block;
}
.question.active .dropdown,
.question:hover .dropdown{
    fill: var(--color-grey-primary);
}
.content,
.question:hover,
.question.active{
    color: var(--color-grey-primary);
}
.search__input,
.option{
    background: var(--color-grey-secondary);
    color: var(--color-white);
}
.search__input{
    font-size: 1.6rem;
    border: 1px solid var(--color-grey-primary);
}
.search__input:focus-visible{
    outline: 1px solid var(--color-primary);
}
.result{
    text-align: left;
    margin: 1rem auto;
}
.result:not(:last-child){
    border-bottom: 1px solid var(--color-border);
}
.result__title,
.result__desc{
    padding: .5rem;
}
.result__title{
    font-weight: 500;
}
.result__desc{
    color: var(--color-white);
    font-size: 1.4rem;
    display: inline-block;
    width: 89%;
}
.result__content a{
    color: var(--color-white);
    background: var(--color-primary);
    display: inline-block;
    padding: .5rem 1rem;
    text-decoration: none;
    margin: .5rem 1rem;
}
.result__content a:hover{
    background: var(--color-secondary);
}
.select__label,
.box{
    display: block;
}
.box{
    border: 1px solid rgba(253, 101, 58, .3);
}
.box__wrapper{
    padding: .5rem;
    display: flex;
    align-items: center;
}
.colors span{
    flex: 1;
    padding: 0 .5rem;
}
.colors{
    text-align: left;
    width: 50%;
    margin: 0 auto;
}
.colors .dropdown{
    fill: var(--color-primary);
    margin: 1rem;
}
.options{
    display: none;
    list-style: none;
}
.boxActive .options{
    display: block;
}
.box span{
    transition: all 1s ease-in-out;
}
.option:hover{
    background: var(--color-primary);
    transition: all .2s ease-in-out;
}
.box.active{
    color: var(--color-primary);
}