@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    min-height: 100vh;
    font-size: 1.8rem;
    font-family: 400;
    font-family: 'Roboto', sans-serif;
    color: #f6592e;
    background: linear-gradient(to right top, #1f2229, #2d3037);
    background-repeat: no-repeat;
}
.heading,
.questionBox,
.content,
.search,
.search__input{
    padding: 1rem;
}
.heading{
    cursor: pointer;
    margin: 1rem auto;
    color: #f6592e;
}
.container{
    width: 100%;
    height: 100%;
    padding: 2rem;
    text-align: center;
}
.wrapper,
.search{
    width: 70%;
    margin: 0 auto;
}
.questions{
    border-radius: .5rem;
    background: #f6592e;
}
.questionBox{
    text-align: left;
}
.dropdown{
    width: 1.5rem;
    height: 1.5rem;
    fill: #2d3037;
    vertical-align: middle;
}
.dropdown,
.content{
    margin: 0 .5rem;
}
.question{
    padding: .5rem;
    font-weight: 500;
    cursor: pointer;
    color: #2d3037;
}
.questionBox:not(:last-child){
    border-bottom: 1px solid #fd653a;
}
.content{
    display: none;
}
.question.active + .content{
    display: block;
}
.question.active .dropdown,
.question:hover .dropdown{
    fill: #1f2229;
}
.content,
.question:hover,
.question.active{
    color: #1f2229;
}
.search__input{
    width: 100%;
    font-size: 1.6rem;
    border: 1px solid #1f2229;
    background: #2d3037;
    color: #fff;
}
.search__input:focus-visible{
    outline: 1px solid #f6592e;
}